.container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    /* iOS Safari fix */
    min-height: -webkit-fill-available;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(135deg, midnightblue, #111);
    z-index: -1;
    overflow: hidden;
}

.drawing {
    position: relative;
    top: -35vh;
    width: 600px;
    height: 600px;
}

.noise {
    position: absolute;
    top: -15%;
    left: 0;
    width: 100%;
    height: 120%;
    background: radial-gradient(circle at 50% 50%,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 600 600' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    filter: contrast(145%) brightness(650%) invert(100%);
    mix-blend-mode: screen;
    pointer-events: none;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .noise {
        filter: contrast(125%) brightness(650%) invert(100%);
        mix-blend-mode: color-dodge;
    }
}

.center {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(250, 235, 215, 0.2);
}